aiosqlite
anthropic>=0.89.0
anyio
fastapi>=0.100.0
groq
httpx[http2]
langchain-core>=1.0.0
langgraph>=1.0.0
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
openai>=1.0.0
orjson
pydantic>=2.10.3,<3.0.0
pydantic-settings>=2.7.0,<3.0.0
python-dotenv
PyYAML
requests>=2.32.4,<3.0.0
requests-toolbelt
sniffio
tenacity
tqdm
typing_extensions
uvicorn[standard]
websockets
Pillow
pinscrape==5.1.0
livekit-api
